body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgoldenrodyellow;
}

h1{
    font-size: 50px;
    color: rgb(0, 0, 0)
}

#infomenu {
    background-color: burlywood;
}
#fremgang, #andet {
    background-color: tan
}